@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

body {
  overflow-x: hidden;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.section {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  scroll-snap-align: center;
  transition: 1s ease-in-out;
}

h1 {
  font-weight: 500;
  font-size: 12vw;
  text-transform: uppercase;
  color: white;
}
